<!DOCTYPE html>
<html>
    <head>
        <title>IMDb clone</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
   
   	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/normal.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/rating.css">

   
    </head>
    
    <body>
        
        <nav class=" navbar navbar-light bg-dark " style="background-color:#0000003d!important;" >
         <div class="container-fluid">
             <div class="navbar-header">
                 <a class="navbar-brand" style="color: #e7d8d8;" href="/" >IMDB CLONE</a>
             </div>
         </div>
         
         
         
     </nav>



<div class="container con-center">
<div class="jumbotron jumbo-center" style="    background-color: #000000a6;">
  <h1 class="display-4" style="color:wheat;"><i class="fas fa-camera-retro "></i> The Movies!</h1>
  <p class="lead" style="color:wheat;">List of movies related to the title! <i class="far fa-grin-tongue-squint"></i></p>
  <form method="GET" action="/mymovie">
    <!--<div class="stretch"></div>-->
<div class="form-group" >
    <input type="text" name="title" placeholder="enter the movie series name"  style="width:45%; ">
</div>
<div class="form-group">
    <button class="btn btn-md btn-success "  style="width:25%;">SEARCH</button>
</div>
</form>
<p><br></p>


<form method="GET" action="/myonlymovie">
<!--<div class="stretch"></div>-->
<div class="form-group" class="tinline w100">
<input type="text" name="t" placeholder="enter the movie name" class="tinline" style="margin-bottom:2%;width:45% ">
</div>
<div class="form-group" class="tinline w100" style="margin-left:5%;">
<input type="number" name="y" placeholder="enter the year of release" class="tinline" style=" margin-bottom:2%;width:45%">
</div>
<div class="form-group">
<button class="btn btn-md btn-success "  style="width:25%;margin-top: -54px;">SUBMIT</button>
</div>
</form>


</div>

<div class="row" >
<% data["Search"].forEach(function(movie){%>
  
  
  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
     
         <div class="card"> 
         <img src="<%= movie.Poster %>" class="card-img-top" alt="Card image cap" >
         <div class="card-body">
         <h5 class="card-title"><%=movie.Title %> (<%= movie.Year %>)</h5>
         <!-- <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset> -->
        </div>
        
        <form style="display: inline" action="/myonlymovie?t=&y=" method="GET">
            
<div class="form-group">
<input type="text" name="t" value="<%= movie.Title %>" class="ss" >
</div>
<div class="form-group">
<input type="text" name="maintitle" class="ss" value="<%= mymaintitle %>">
</div>
<div class="form-group">
<input type="number" class="ss" name="y" value="<%= movie.Year %>">
</div>
            
  <button class="btn btn-lg btn-primary " style="margin: 20px;">SHOW MORE</button>
</form>
        
    </div>
    </div>
  
  
  <!--<div style="background: black; color:white;">-->
       
       <!--<br>-->
  <!--</div>-->

<% }); %>

</div>
<!--<h1>Pure CSS Star Rating Widget</h1>-->
<!-- <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset> -->

<% include partials/footer.ejs %>











