<!DOCTYPE html>
<html>
    <head>
        <title>IMDb clone</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
   
   	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
   <style>
       a{color:white;}
   </style>
    </head>
    
    <body style=" background-image: url('http://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9');background-attachment:fixed; background-size: cover;">
      
      
     <nav class=" navbar navbar-light bg-dark " >
         <div class="container-fluid">
             <div class="navbar-header">
                 <a class="navbar-brand" href="/" >IMDB CLONE</a>
             </div>
               <!--      <div class="nav navbar-right">-->
                         
               <!--      <a class="nav-link" href="/">LOGIN</a>-->
               <!--      <a class="nav-link" href="/">SIGNUP</a>-->
               <!--      <a class="nav-link" href="/">LOGOUT</a>-->
               <!--</div>-->
             
         </div>
         
         
         
     </nav>






<div class="container con-center" style="margin-top:2%; color:black;">
 
<h1 style="color:white;text-align:center;font-family: 'Handlee', cursive;"><%= data.Title.toUpperCase() %> (<%=data.Year %>)</h1>



<div class="row" >

    <div class="col-sm-12 col-md-6 col-lg-4" style="margin:5% 20%">
     
         <div class="card" style="width: 550px;height:auto;margin:auto 20px;background:black;color:white;"> 
         <img src="<%= data.Poster %>" class="card-img-top" alt="Card image cap" >
         <div class="card-body">
         <h5 class="card-title" style="text-align:center;"><%= data.Title %> </h5>
         <h5 class="card-title" style="text-align:center;">RELEASED:<%= data.Released %></h5>
         <h5 class="card-title" style="text-align:center;">DIRECTOR:<%= data.Director %></h5>
         <h5 class="card-title" style="text-align:center;">ACTORS:</h5>
         <h5 class="card-title" style="text-align:center;"><%= data.Actors %></h5>
         <h5 class="card-title" style="text-align:center;">IMDB RATING:   <%= data.imdbRating %> IMDB ID:    <%= data.imdbID %></h5>
         <h5 class="card-title" style="text-align:center;">PLOT:</h5>
         <h5 class="card-title" style="text-align:center;"><%= data.Plot %></h5>
         <form style="display: inline" action="/mymovie?t=" method="GET">
            
<div class="form-group" style="display:inline;width:100%;margin-left:5%;">
<input type="text" name="title" value="<%= maintitle %>"  style="text-align:center;margin-bottom:2%;width:45%;display:none; ">
</div>

            
  <button class="btn btn-lg btn-primary " style="margin: 12%;">RETURN</button>
</form>
        </div>
    </div>
    </div>
  
  

</div>
</div>

<% include partials/footer.ejs %>











